:root {
    --main: #e4d8cc;
    --second: #7837f3;
    --third: #c3bab1;
    --fourth: #b99fea;
}

.container {
    width: 1152px;
    margin: 0px auto;
}

.header {
    padding-top: 23px;
}

.header_list {
    display: flex;
    gap: 32px;
}

.header_inform_list {
    display: flex;
    gap: 38px;
}